@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
h1, div, p, article, main{
    padding: 0;
    margin: 0;
}
.desktop{
    width: 90rem;
    height: 50rem;
    display: grid;
    place-items: center;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    margin: auto;
}
.container{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 23.75rem;
    background: hsl(0, 0%, 12%);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.07rem solid #DBE9FE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile img {
    width: 5.85rem;
    height: 5.85rem;
    border-radius: 4.375rem;
    border: 0.05rem solid var(--blue-100, #DBE9FE);
    object-fit:cover;


}
/* demography styles*/
.demography{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.demography h1{
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter";
}
.demography p{
    font-size: 0.875rem;
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}
.role{
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
}
/* Socials*/
.social-links {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    gap:1.125rem ;
    list-style: none;
}
.social-links li{
    display: flex;
    flex-direction: column;

}

.social-links li a {
    background:hsl(0, 0%, 20%);
    width: 18.625rem;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 600;
}
.social-links li  a{
    text-decoration: none;
    color: whitesmoke;
}
 .social-links li a:hover{
    cursor:pointer;
    color:hsl(0, 0%, 12%) ;
    background: hsl(75, 94%, 57%);
    border-radius: 8px;
}
@media screen and (max-width:500px)
 { 
    .desktop{
        width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .container {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 20.5rem;
      }
      .social-links li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .demography h1{
        font-size: 20px;
      }
      .demography p{
        font-size: 0.875rem;
      }
      .profile{
        width:5.635rem;
        height: 5.625rem;
        border-radius: 50%;
        border: 0.07rem solid #DBE9FE;
      }
      .profile img {
        width: 5.22rem;
        height: 5.22rem;
        border-radius: 4.375rem;
        border: 0.05rem solid var(--blue-100, #DBE9FE);
      }
      .role{
        margin-top: 1rem;
      }
      .social-links li a{
        font-size: 0.875rem;
      }
 
}